<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="favicon.ico">
    <title>Admin Dashboard</title>
<body>
<div layout:fragment="content" th:remove="tag"  >
    <p>&nbsp;</p>
    <div class="container">
        <h3>Welcome to the Maharishi University of  Management </h3>
        <hr/>
        <div class="panel-heading" style="float: right">
            <h3><span th:utext="${userNames}"></span></h3>
         <!--   <h3><span th:utext="${userBadge}"></span></h3>
            <h3><span th:utext="${userId}"></span></h3>-->

        </div>
        <p style="background-color: azure">
            <p>
        <a th:href="@{/student/selectblock/{userId}(userId=${userId})/{userBadge}(userBadge=${userBadge})}"> click to enter your Block</a>
            </p>
        <a th:href="@{/logout}">Sign Out</a>
    </div>

</div>
</body>
</html>