<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Student Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

    <script  th:src="@{/js/ajax.js}" src="../js/ajax.js" ></script>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a style="padding-right: 2em;" class="navbar-brand" href="/admin/dashboard">TM Registration System</a>
    <!--<span style="color: #ffffff;"> &nbsp; | &nbsp;</span>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>


    <h2>Meditation Attendance Info </h2> <br/>

    <form id="studentForm" th:object="${block}"  action="#" th:action="@{/student/selectblock/__${userBadge}__/} "
          method="post">
        <fieldset>
            <legend>Select Your Block</legend>
            <div class="panel-heading" style="float: right">

                <!--<h3><span id="userBadge" name="userBadge" th:utext="${userBadge}"></span></h3>
                <h3><span id="userId" name="userId" th:utext="${userId}"></span></h3>-->

            </div>
            <p>
                <label for="block">Block: </label>
                <select  name="block" id="block" >
                    <option value="" label="Select Block"></option>
                    <option th:each="block:${blocks}" th:value="${block.id}"  th:utext="${#temporals.format(block.blockName,'MMMM-yyyy')} ">
                </select>
            </p>
            <button >Click Me</button>
            <div id="success" style="display:none" >
                Hello User
            </div>
        </fieldset>
    </form>

    <br/>

</div>
</body>
</html>