<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Admin Dashboard</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a style="padding-right: 2em;" class="navbar-brand" href="/admin/dashboard">TM Registration System</a>
    <!--<span style="color: #ffffff;"> &nbsp; | &nbsp;</span>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                <a class="nav-link" href="/admin/entry/entrylist">Entries</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
    <form action="#" th:action="@{/admin/entry/entryedit}" th:object="${entry}"
          method="post">
        <fieldset>
            <legend>Add an Entry</legend>
            <ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}" >Input
                    is incorrect</li>
            </ul>
            <p>
                <label for="date">Entry Date</label> <input type="text"
                                                            id= "date" th:field="*{entryDate}" />
            <p th:if="${#fields.hasErrors('entryDate')}" th:errors="*{entryDate}" th:errorclass="fieldError">Incorrect Date</p>
            </p>
            <p id="buttons">
                <input id="reset" type="reset"  value="Reset" tabindex="4"> &nbsp;&nbsp;&nbsp;&nbsp;
                <input id="submit" type="submit" tabindex="5" value="Add Entry"> &nbsp;&nbsp;&nbsp;
                <a href="/admin/entry/entrylist"  > Cancel </a>
            </p>
        </fieldset>
    </form>
</div>
</body>
</html>