<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">
                <h2>Registration Form</h2>


                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{student.firstName}" placeholder="First Name"
                               class="form-control"/> <label
                            th:if="${#fields.hasErrors('student.firstName')}" th:errors="*{student.firstName}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{student.lastName}" placeholder="Last Name"
                               class="form-control"/> <label
                            th:if="${#fields.hasErrors('student.lastName')}" th:errors="*{student.lastName}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{student.studentId}" placeholder="Student Id"
                               class="form-control"/> <label
                            th:if="${#fields.hasErrors('student.studentId')}" th:errors="*{student.studentId}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{student.badgeCode}" placeholder="Badge Code"
                               class="form-control"/> <label
                            th:if="${#fields.hasErrors('student.badgeCode')}" th:errors="*{student.badgeCode}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{student.phone}" placeholder="Phone"
                               class="form-control"/> <label
                            th:if="${#fields.hasErrors('student.phone')}" th:errors="*{student.phone}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="datetime-local" th:field="*{student.birthDate}" placeholder="Birth Date"
                               class="form-control"/> <label
                            th:if="${#fields.hasErrors('student.birthDate')}" th:errors="*{student.birthDate}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{student.email}" placeholder="Email"
                               class="form-control"/> <label
                            th:if="${#fields.hasErrors('student.email')}" th:errors="*{student.email}"
                            class="validation-message"></label>
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<div class="col-sm-9">-->
                        <!--<input type="text" th:field="*{student.nationality}" placeholder="Nationlity"-->
                               <!--class="form-control"/> <label-->
                            <!--th:if="${#fields.hasErrors('student.nationality')}" th:errors="*{student.nationality}"-->
                            <!--class="validation-message"></label>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <div class="col-sm-9">
                        <select class="form-control" type="text" th:field="*{student.nationality}" placeholder="Nationlity">
                            <option th:each="nationalityy : ${nationalities}"
                                    th:value="${nationalityy}"
                                    th:text="${nationalityy}" />
                        </select>
                    </div>
                </div>
                <div class="form-group">
                     <div class="col-sm-9">
                         <input type="text" th:field="*{username}" placeholder="Username"
                                class="form-control"/> <label
                                th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="password" th:field="*{password}"
                               placeholder="Password" class="form-control"/> <label
                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <select class="form-control" type="text" th:field="*{student.roles}" placeholder="Roles">
                            <option th:each="role : ${roles}"
                                    th:value="${role.getId()}"
                                    th:text="${role.getRole()}" />
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Register User</button>
                    </div>
                </div>

                <h2><span class="text-success" th:utext="${successMessage}"></span></h2>

            </form>
        </div>
    </div>
</div>

</body>
</html>