<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Student Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <script  th:src="@{/js/ajax.js}" src="../js/ajax.js" ></script>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a style="padding-right: 2em;" class="navbar-brand" href="/admin/dashboard">TM Registration System</a>
    <!--<span style="color: #ffffff;"> &nbsp; | &nbsp;</span>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>


    <h2>Meditation Attendance Info </h2> <br/>

    <form id="blockForm" action="#" th:action="@{/admin/blockrest/addblock} "
          method="post">
        <fieldset>
            <legend>Add a Block</legend>
            <p>
                <label >Block Name:</label> <input type="text" id="date " />

            </p>
            <p>
                <label >Start Date:</label> <input type="text" id="date " />

            </p>
            <p>
                <label >Ending Date:</label> <input type="text " />

            </p>

            <label for="section">Section: </label>
            <select th:field="*{sections}" id="section">
                <option value="" label="Select Section"></option>
                <option th:each="section:${sections}"  th:value="${section.id}" th:utext="${section.sectionName}+' '+${section.startDate}+ ''+ ${section.endDate}"></option>
            </select>
            <p>

            </p>
            <p id="buttons">
                <input id="reset" type="reset"  value="Reset" tabindex="4"> &nbsp;&nbsp;&nbsp;&nbsp;
                <input id="submit" type="submit" tabindex="5" value="Add Block" onclick="makeAjaxCall()"> &nbsp;&nbsp;&nbsp;
                <a href="/admin/block/blocklist"  > Cancel </a>
            </p>
        </fieldset>


          </fieldset>
        </form>
    <div id="errors" style="display:none" >
</div>

<div id="formInput" style="display:none" > </div>
    <br/>

</div>
</body>
</html>