<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="favicon.ico">
    <title>Admin Dashboard</title>
<body>
<div layout:fragment="content" th:remove="tag"  >
    <p>&nbsp;</p>
    <div class="container">
        <h3>Welcome to the Maharishi University of  Management </h3>
        <hr/>
        <div style="background-color: azure">
            Register The Following Entities:
            <ul>
                <li style="animation-play-state: running"><a href="/admin/student_save">Students</a></li>
                <li><a href="/admin/entry/entry_save"> Entries Dates </a></li>
                <li><a href="/admin/faculty/faculty_save"> University Faculties</a></li>
                <li><a href="/admin/section/section_save"> Entry Sections</a></li>
                <li><a href="/admin/course/course_save"> Student Courses</a></li>
                <li><a href="/admin/block/block_save"> Blocks</a></li>
                <li><a href="/admin/location/location_save"> Meditation Locations</a></li>
                <li><a href="/admin/session/session_save"> Meditation Sessions</a></li>
                <li><a href="/admin/schedule/schedule_save"> Meditation Schedule Time</a></li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>